.ui-social {
  margin-bottom: 20px;

  &__title {
    margin: 40px 0 8px;
    font-weight: normal;
    font-size: 14px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 50%;
  }
}
